name: EC2 Deploy with Ansible

on:
  push:
    branches:
      - main  # You can modify this to trigger on different branches if needed.

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    # Step 1: Checkout the code repository
    - name: Checkout repository
      uses: actions/checkout@v2
    
    # Step 2: Set up AWS CLI for accessing EC2 instances
    - name: Set up AWS CLI
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
    
    # Step 3: Install Ansible
    - name: Install Ansible
      run: |
        sudo apt update
        sudo apt install -y ansible
    
    # Step 4: Set up SSH key for Ansible
    - name: Set up SSH key
      run: |
        echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > hemal-laptop.pem
        chmod 600 hemal-laptop.pem
    
    # Step 5: Install Node.js using nvm
    - name: Install Node.js and NPM
      run: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
        export NVM_DIR="$HOME/.nvm"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
        nvm install 22.17.0
        nvm use 22.17.0
        node --version
        npm --version
    
    # 6. fetch temp server using AWS CLI
    - name: Fetch temporary server details
      run: |
        echo "[temp_server]" > inventory.ini
        aws ec2 describe-instances \
        --region ap-south-1 \
        --instance-ids i-07faed5b39659712b \
        --query 'Reservations[*].Instances[*].PublicIpAddress' \
        --output text >> inventory.ini

         # Add SSH configuration to inventory
          echo "" >> inventory.ini
          echo "[temp_server:vars]" >> inventory.ini
          echo "ansible_user=ubuntu" >> inventory.ini
          echo "ansible_ssh_private_key_file=./hemal-laptop.pem" >> inventory.ini
          echo "ansible_ssh_common_args=-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" >> inventory.ini


    - name: Set up Ansible inventory file for temporary server
      run: |
        cat inventory.ini
    
    # Step 7: Pull the latest code from GitHub on the EC2 instances using Ansible
    - name: Update code on EC2 instances on temporary server
      run: |
        cat <<EOF > deploy-playbook.yml
        ---
        - name: Deploy code to EC2 instances
          hosts: temp_server
          become: yes
          tasks:
            - name: Pull latest code from GitHub
              git:
                repo: "https://github.com/hemal-bhatti/simple-node-react-app.git"
                dest: "/var/www/simple-node-react-app"
                version: "main"
                force: yes
                update: yes
                accept_hostkey: yes
            - name: Fix directory ownership
              file:
                path: /var/www/simple-node-react-app
                owner: ubuntu
                group: ubuntu
                recurse: yes
            - name: Install NPM dependencies
              become_user: ubuntu
              shell: |
                export NVM_DIR="/home/ubuntu/.nvm"
                [ -s "\$NVM_DIR/nvm.sh" ] && . "\$NVM_DIR/nvm.sh"
                cd /var/www/simple-node-react-app/simple-backend
                npm install
              args:
                executable: /bin/bash
            - name: Restart PM2 with ecosystem.config.js
              become_user: ubuntu
              shell: |
                export NVM_DIR="/home/ubuntu/.nvm"
                [ -s "\$NVM_DIR/nvm.sh" ] && . "\$NVM_DIR/nvm.sh"
                cd /var/www/simple-node-react-app/simple-backend
                pm2 restart ecosystem.config.js --update-env
              args:
                executable: /bin/bash

        EOF

        ansible-playbook -i inventory.ini deploy-playbook.yml

    # Step 7.1: create ami of this temp server
    - name: create a ami from this temp temp_server
      run: |
        AMI_ID=$(aws ec2 create-image \
          --instance-id i-07faed5b39659712b \
          --name "simple-node-react-app-ami" \
          --no-reboot \
          --query 'ImageId' \
          --output text)
        echo "AMI ID: $AMI_ID"
        echo "ami_id=$AMI_ID" >> $GITHUB_ENV

      # attach a this ami to launch template
    - name: Attach AMI to launch template 
      run: |
        echo $GITHUB_ENV
        



    # Step 8: Fetch EC2 instances (Auto Scaling Group instances)
    - name: Fetch EC2 instances from Auto Scaling Group
      id: fetch_instances
      run: |
        # Assuming you are using an Auto Scaling Group with tags to identify the instances
          echo "[ec2_instances]" > inventory.ini
          aws ec2 describe-instances \
             --instance-ids $(aws autoscaling describe-auto-scaling-groups \
             --region ap-south-1 \
             --auto-scaling-group-names hemal-asg \
             --query "AutoScalingGroups[].Instances[].InstanceId" \
             --output text) \
          --region ap-south-1 \
          --query "Reservations[].Instances[].PublicIpAddress" \
          --output text | tr -s '\t ' '\n' >> inventory.ini
          
          # Add SSH configuration to inventory
          echo "" >> inventory.ini
          echo "[ec2_instances:vars]" >> inventory.ini
          echo "ansible_user=ubuntu" >> inventory.ini
          echo "ansible_ssh_private_key_file=./hemal-laptop.pem" >> inventory.ini
          echo "ansible_ssh_common_args=-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" >> inventory.ini

    # Step 9: Set up Ansible inventory file
    - name: Set up Ansible inventory file
      run: |
        cat inventory.ini
    
    # Step 10: Pull the latest code from GitHub on the EC2 instances using Ansible
    - name: Update code on EC2 instances
      run: |
        cat <<EOF > deploy-playbook.yml
        ---
        - name: Deploy code to EC2 instances
          hosts: ec2_instances
          become: yes
          tasks:
            - name: Pull latest code from GitHub
              git:
                repo: "https://github.com/hemal-bhatti/simple-node-react-app.git"
                dest: "/var/www/simple-node-react-app"
                version: "main"
                force: yes
                update: yes
                accept_hostkey: yes
            - name: Fix directory ownership
              file:
                path: /var/www/simple-node-react-app
                owner: ubuntu
                group: ubuntu
                recurse: yes
            - name: Install NPM dependencies
              become_user: ubuntu
              shell: |
                export NVM_DIR="/home/ubuntu/.nvm"
                [ -s "\$NVM_DIR/nvm.sh" ] && . "\$NVM_DIR/nvm.sh"
                cd /var/www/simple-node-react-app/simple-backend
                npm install
              args:
                executable: /bin/bash
            - name: Restart PM2 with ecosystem.config.js
              become_user: ubuntu
              shell: |
                export NVM_DIR="/home/ubuntu/.nvm"
                [ -s "\$NVM_DIR/nvm.sh" ] && . "\$NVM_DIR/nvm.sh"
                cd /var/www/simple-node-react-app/simple-backend
                pm2 restart ecosystem.config.js --update-env
              args:
                executable: /bin/bash
        EOF

        ansible-playbook -i inventory.ini deploy-playbook.yml

    # Step 11: Clean up any temporary files or artifacts if necessary
    - name: Clean up
      run: |
        rm -f deploy-playbook.yml inventory.ini ec2_key.pem